<link rel="stylesheet" href="/css/global/error.css">
<div class="container">
    <h1 class="title">404</h1>
    <p class="subtitle">The page / resource you want doesn't exists.</p>

    <a href="/" class="btn">Get back to home</a>
</div>