.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto 0;
  width: 95%;
  max-width: 650px;
}
.header > .title {
  margin-bottom: 30px;
  font-size: 4rem;
  font-weight: 300;
  color: #212529;
}
.header > .auth-group {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.header > .auth-group > .auth {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  width: 50%;
  border-radius: 6px;
  border: 1px solid #212529;
  background: #212529;
  font-size: 1rem;
  font-weight: 400;
  color: #f8f9fa;
  cursor: pointer;
  transition: 0.3s;
}
.header > .auth-group > .auth--secondary {
  background: transparent;
  color: #212529;
}
.header > .auth-group > .auth:hover {
  filter: brightness(125%);
}
.header > .searchbar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-top: 30px;
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-radius: 6px;
  width: 100%;
}
.header > .searchbar > .dropdown {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: rgba(33, 37, 41, 0.15);
  cursor: pointer;
  user-select: none;
}
.header > .searchbar > .dropdown > p {
  flex-grow: 1;
  font-size: 1rem;
  color: rgba(33, 37, 41, 0.6);
  border: none;
}
.header > .searchbar > .dropdown > ion-icon {
  color: rgba(33, 37, 41, 0.6);
}
.header > .searchbar > .dropdown > .select {
  z-index: 1;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 6px;
  border: 1px solid rgba(33, 37, 41, 0.15);
  background: #f6f7f9;
  width: 100%;
  color: #212529;
  overflow: hidden;
}
.header > .searchbar > .dropdown > .select.active {
  display: flex;
}
.header > .searchbar > .dropdown > .select > * {
  background: #f6f7f9;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
}
.header > .searchbar > .dropdown > .select > *:hover {
  filter: brightness(90%);
}
.header > .searchbar > .dropdown > .select > *:not(:last-of-type) {
  border-bottom: 1px solid rgba(33, 37, 41, 0.5);
}
.header > .searchbar > .search {
  flex-grow: 1;
  padding: 15px 0 15px 20px;
  border: none;
  background: transparent;
  font-size: 1.2rem;
  font-weight: 300;
  color: #212529;
}
.header > .searchbar > .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  font-size: 1.2rem;
  font-weight: 300;
  color: #212529;
}

.separator {
  margin: 30px auto;
  background: #212529;
  width: 85%;
  max-width: 400px;
}

.any {
  margin: 0 auto;
  font-size: 1.1rem;
  font-weight: 300;
  color: rgba(33, 37, 41, 0.7);
}

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.results > .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid rgba(33, 37, 41, 0.5);
  border-radius: 12px;
  width: 95%;
  max-width: 400px;
}
.results > .card > .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.results > .card > .row > .cover {
  margin-right: 15px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.results > .card > .row > .col {
  width: 65%;
  display: flex;
  flex-direction: column;
}
.results > .card > .row > .col > .name {
  font-size: 1.5rem;
  font-weight: 300;
  color: #212529;
}
.results > .card > .row > .col > .space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 20px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(33, 37, 41, 0.7);
}
.results > .card > .card-sep {
  margin: 0 auto;
  width: 60%;
}
.results > .card > .card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
.results > .card > .card-list > .card-element {
  padding: 5px 7px;
  border: 1px solid rgba(33, 37, 41, 0.5);
  border-radius: 6px;
}

/*# sourceMappingURL=index.css.map */
