.page {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  padding-bottom: 100px;
  width: 90%;
  max-width: 1200px;
}
.page > .back {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
  text-decoration: none;
  color: #212529;
}
.page > .back * {
  transition: transform 0.3s ease;
}
.page > .back:hover > span {
  transform: translateX(-5px);
}
.page .title-1,
.page .title-2,
.page .title-3,
.page .title-4 {
  display: flex;
  align-items: center;
  gap: 15px;
  font-weight: 300;
}
.page .title-1 > ion-icon,
.page .title-2 > ion-icon,
.page .title-3 > ion-icon,
.page .title-4 > ion-icon {
  opacity: 0.7;
}
.page .title-1 {
  margin-bottom: 20px;
  font-size: 2.5rem;
}
.page .title-2 {
  margin-bottom: 15px;
  font-size: 2rem;
}
.page .title-3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 400;
}
.page .title-4 {
  margin-bottom: 10px;
  font-size: 1.3rem;
  font-weight: 400;
}
.page .separator {
  display: block;
  width: 20%;
  height: 1px;
  margin: 30px 0;
  background-color: rgba(33, 37, 41, 0.3);
}
.page .list-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding: 20px 15px;
  width: 100%;
  border-radius: 12px;
  background-color: rgba(33, 37, 41, 0.05);
}
@media screen and (max-width: 768px) {
  .page .list-container {
    flex-direction: column;
    justify-content: center;
  }
}
.page .list-container > .left {
  width: 100%;
  max-width: 300px;
}
@media screen and (max-width: 768px) {
  .page .list-container > .left {
    max-width: none;
  }
}
.page .list-container > .right {
  overflow: hidden;
  width: 0;
  transition: 1s;
}
.page .list-container > .right, .page .list-container > .right > * {
  white-space: nowrap;
}
.page .list-container > .right.active {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .page .list-container > .right {
    width: 100%;
    height: 0;
  }
  .page .list-container > .right.active {
    height: 100%;
  }
}
.page .list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.page .list > .list {
  background: none;
  padding: 0;
  padding-left: 25px;
}
.page .list > *:not(.list) {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 15px;
  width: 100%;
  border-radius: 6px;
  transition: 0.3s;
}
.page .list > *:not(.list)::before {
  content: "-";
  position: absolute;
  left: 5px;
  top: 50%;
  color: #212529;
  transform: translateY(-50%);
}
.page .list > *:not(.list)[href]:hover {
  background-color: rgba(33, 37, 41, 0.1);
}
.page .list > *:not(.list) > ion-icon {
  opacity: 0.7;
  transition: 1s;
}
@media screen and (max-width: 768px) {
  .page .list > *:not(.list) > ion-icon {
    transform: rotate(90deg);
  }
}
.page .list > *:not(.list).active > ion-icon {
  transform: rotate(-180deg);
}
@media screen and (max-width: 768px) {
  .page .list > *:not(.list).active > ion-icon {
    transform: rotate(-90deg);
  }
}
.page .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
}
.page .button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 7px 20px;
  border: 1px solid #212529;
  border-radius: 6px;
  background: #212529;
  font-weight: 500;
  color: #fff;
  transition: 0.4s ease;
}
.page .button:hover {
  opacity: 0.8;
}
.page .button--secondary {
  background-color: transparent;
  color: #212529;
}
.page .code-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .page .code-list {
    flex-direction: column;
  }
}
.page .code-list > .code {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  width: calc(50% - 5px);
  border-radius: 12px;
  background-color: rgba(33, 37, 41, 0.05);
}
@media screen and (max-width: 992px) {
  .page .code-list > .code {
    width: 100%;
  }
}
.page .code-list > .code > code {
  height: 100%;
}
.page .grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
@media screen and (max-width: 992px) {
  .page .grid {
    flex-direction: column;
  }
}
.page .grid > .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: calc(50% - 10px);
}
@media screen and (max-width: 992px) {
  .page .grid > .col {
    width: 100%;
  }
}
.page .grid > .col > .card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: max-content;
  border-radius: 12px;
  background-color: rgba(33, 37, 41, 0.05);
}
.page .grid > .col > .card > .title-4 > ion-icon {
  transition: 0.5s ease;
}
.page .grid > .col > .card > .title-4 > ion-icon:hover {
  transform: rotate(180deg);
}
.page .grid > .col > .card > .params-title {
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 400;
}
.page .grid > .col > .card > .params {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.page .grid > .col > .card > .params > li {
  display: flex;
  align-items: center;
  gap: 3px;
}

/*
    ! CODE BLOCKS
*/
code.inline {
  display: inline;
  padding: 3px 5px;
  background-color: rgba(33, 37, 41, 0.1);
  border-radius: 6px;
}

code.stretch,
p.param {
  display: block;
  margin: 10px 0;
  padding: 7px 15px;
  width: 100%;
  background-color: #212529;
  border-radius: 6px;
  overflow-x: auto;
  color: #fff;
  white-space: pre-wrap;
}
code.stretch ::selection,
code.stretch *::selection,
p.param ::selection,
p.param *::selection {
  color: currentColor;
  background-color: rgba(255, 255, 255, 0.2);
}

p.param {
  display: inline-block;
  margin: 0;
  padding: 3px 5px;
  width: max-content;
  color: #76c893;
}

code, code * {
  font-family: "JetBrainsMono Nerd Font", "Fira Code", sans-serif;
  font-size: 0.85rem !important;
  font-weight: normal;
  font-variant-ligatures: contextual;
  letter-spacing: 0.5px;
}
code .func_name,
code .bracket {
  color: #e0aaff;
}
code .func_param,
code .quote {
  color: #ade8f4;
}
code .arrow_arg,
code .brace {
  color: #ffb700;
}
code .arrow {
  font-weight: bold;
  color: #ff5a5f;
}
code .import {
  color: #ff5a5f;
}
code .param {
  font-weight: bold;
  color: #76c893;
}
code .comment {
  color: #adb5bd;
}
code .link {
  text-decoration: underline;
}

/* 
    ! SPECIFICATIONS
*/
#requirements + p,
#examples + p,
#usages + p {
  margin-bottom: 10px;
}

#requirements + p + button {
  width: max-content;
}

/*# sourceMappingURL=index.css.map */
